body {
  background-color: #0f0f0f;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding-top: 170px;
}

header {
  background-color: #1a1a1a;
  text-align: center;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;   
  border-bottom: 1px solid #333;
}

header h1 {
  color: #00ff88;
  margin-bottom: 10px;
  font-size: 32px; 
  
}

.emoji {
  font-size: 36px;     
  margin-left: 8px;     
  vertical-align: middle;
}


nav a {
  color: white;
  text-decoration: none;
  margin: 0 75px;
  padding: 8px 0;
  font-weight: bold;
  font-size: 18px;
}

nav a:hover {
  color: #00ff88;
}


nav a.active {
  color: #00ff88;       
  border-bottom: 2px solid #00ff88;

}







.banner img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}


.details{
    text-align: center;
}

.details p {
  font-size: 16px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 20px 0;
  font-size: 18px ;
}

.btn {
  display: inline-block;
  background-color: #00ff88;
  color: black;
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}



.trending {
  padding: 30px;
  text-align: center;
  padding: 20px 30px;
  font-size: 20px;
}

.trending h2 {
  color: #00ff88;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.game-card {
  background-color: #1a1a1a;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.game-card img {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}

.game-card h3 {
  color: #00ff88;
  margin: 10px 0 5px;
}

footer {
  background-color: #1a1a1a;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
  font-size: 14px;
}

.about h2{
    color: #00ff88;
    text-align: center;
    font-size: 40px;
}

.about pre{
    text-align: center;
    font-size: 20px;
}


.gallery-section {
  text-align: center;
  padding: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.gallery img {
  width: 250px;
  height: 350px;
  border-radius: 8px;
  object-fit: cover;
  border: 2px solid #00ff88;
  transition: transform 0.3s;
}

.gallery img:hover {
  transform: scale(1.05);
}


.contact-section {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.contact-form {
  background-color: #1a1a1a;
  padding: 25px;
  border-radius: 10px;
  width: 350px;
  color: white;
}

.contact-form label {
  font-weight: bold;
  color: #00ff88;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
}

.contact-form button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #00ff88;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #00e676;
}
