body {
  margin: 0;
  padding-top: 170px;
  background-image: url('../images/bg3.png');
  color: white;
  font-family: Arial, sans-serif;
}





header {
  background-image: url('../images/hbg.png');
  text-align: center;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;   
  border-bottom: 1px solid #333;
}

header h1 {
  color: #00ff88;
  margin-bottom: 10px;
  font-size: 32px;
  animation: neonPulse 2s infinite ease-in-out;
  font-family: 'Press Start 2P', cursive;
  
}

.space {
  display: inline-block;
  width: 18px;  
}


.emoji {
  font-size: 40px;     
  margin-left: 10px;   
  vertical-align: middle;
}


nav a {
  color: white;
  text-decoration: none;
  margin: 0 75px;
  padding: 8px 0;
  font-weight: bold;
  font-size: 18px;
}

nav a:hover {
  color: #00ff88;
}


nav a.active {
  color: #00ff88;       
  border-bottom: 2px solid #00ff88;

}







.banner img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}


.details{
    text-align: center;
    animation: fadeIn 1s ease forwards;
}

.details p {
  font-size: 16px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 20px 0;
  font-size: 18px ;
}

.btn {
  display: inline-block;
  background-color: #00ff88;
  color: black;
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: #00e676;
  transform: scale(1.07);
}

.trending {
  padding: 30px;
  text-align: center;
  padding: 20px 30px;
  font-size: 20px;
  animation: fadeIn 1s ease forwards;
}

.trending h2 {
  color: #00ff88;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  animation: fadeIn 1s ease forwards;
}

.game-card {
  background-color: #1a1a1a;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.game-card img {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}

.game-card h3 {
  color: #00ff88;
  margin: 10px 0 5px;
}

/* transition added */

.game-card, .gallery img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.game-card:hover, .gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #00ff88;
}

footer {
  
  text-align: center;
  padding: 15px;
  margin-top: 40px;
  font-size: 14px;
}

.about h2{
    color: #00ff88;
    text-align: center;
    font-size: 40px;
    animation: fadeIn 1s ease forwards;
}

.about pre{
    text-align: center;
    font-size: 20px;
    animation: fadeIn 1s ease forwards;
}
.gallery-section {
  text-align: center;
  padding: 30px 40px;
  animation: fadeIn 1s ease forwards;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense; 
  gap: 15px;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #00ff88;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}

.gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 12px #00ff88;
}

.gallery img:nth-child(3n) {
  grid-row: span 2; 
}

.gallery img:nth-child(4n) {
  grid-column: span 2; 
}

.gallery img:nth-child(5n) {
  grid-row: span 2;
  grid-column: span 2; 
}


.contact-section {
  display: flex;
  justify-content: center;
  padding: 30px 20px;
}

.contact-form {
  width: 350px;
  background-color: #1a1a1a;
  padding: 40px;
  border-radius: 10px;
  border: 2px solid #00ff88;
  box-shadow: 0 0 15px rgba(0, 255, 136, 0.3);
  animation: fadeIn 1s ease forwards;
  
}

.contact-form label {
  color: #00ff88;
  font-size: 14px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #00ff88;
  background-color: #0f0f0f;
  color: white;
  font-size: 14px;
}

.contact-form textarea {
  resize: none;
}

.contact-form button {
  width: 100%;
  padding: 10px;
  background-color: #00ff88;
  color: black;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.contact-form button:hover {
  background-color: #00e676;
}


/* animation added */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* transition heading */
@keyframes neonPulse {
  0% { text-shadow: 0 0 5px #00ff88; }
  50% { text-shadow: 0 0 10px #00ff88; }
  100% { text-shadow: 0 0 5px #00ff88; }
}


/* media query */

@media (max-width: 700px) {
  nav a {
    margin: 0 10px;
    font-size: 14px;
  }

  .game-card {
    width: 150px;
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
}


